.main-contact {
  margin-top: 60px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.form-contact {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-contact input, .form-contact textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  resize:none;
}

.form-contact button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  width: 30%;
  border-radius: 4px;
  background-color: #ccc;
}

.form-contact h1 {
  font-size: 2rem;
  font-weight: 400;
}

.socialicons {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.socialicons .icon{
  width: 80px;
  height: 80px;
  box-shadow: 0 0 5px 10px rgba(0,0,0,0.05);
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
  color: #000;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.socialicons .icon img {
  width: 50%;
}

.icon:after {
  content: '';
  width: 80px;
  height: 80px;
  z-index: -1;
  position: absolute;
  bottom: -80px;
  left: 0;
  
  background: linear-gradient(to bottom, rgb(158, 0, 231), rgb(57,1,211));
  transition: 0.2s;
}

.socialicons .icon:hover {
  color: #fff;
}

.icon:hover::after {
  bottom: 0;
}

@media (max-width: 768px) {

  .socialicons .icon{
    width: 60px;
    height: 60px;
    box-shadow: 0 0 5px 10px rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background: #fff;
  }
}