#header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #0e1212;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 5px 0px 20px #0e1212;
  user-select: none;
  z-index: 2;
}

#ul-header li a {
  color: white;
}

#ul-header li svg {
  fill: #9A03FC;
}

#ul-header li svg:hover {
  fill: white;
}

.underline-hover {
  display: inline-block;
  position: relative;
}
#ul-header li a:hover {
  opacity: 1;
}

.underline-hover:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #9A03FC;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underline-hover:hover:after { 
  width: 100%; 
  left: 0; 
}

@media screen and (min-width: 768px) {
  #header {
    width: 80%;
    padding-top: 15px;
  }
}
