.section-home {
  padding: 20px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-home h1 {
  font-size: 4rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .section-home h1 {
    font-size: 2rem;
  }
}

#perfil-img {
  width: 60%;
  max-width: 250px;
  border-radius: 50%;
}

.about-section {
  margin: 150px 5px;
  min-height: 40vh;
  align-items: flex-start;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
}

.about-text h2 {
  align-self: center;
}

.skills-section {
  margin: 100px 5px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
}

.skill-card img {
  width: 96px;
}

.skill-card p {
  justify-self: flex-end;;
}

.skills-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
}

.footer-home {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px;
  padding: 20px;
  font-size: 1.2rem;
  gap: 1.5rem;
  max-width: 600px;
}

.footer-home h3 {
  font-weight: 400;
}

.footer-home a {
  font-size: 1.7rem;
}
