* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.75px;
}

body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 1.2rem;
  background: #0e1212;
  color: white;
  padding-top: 100px;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-d-column {
  flex-direction: column;
}

.a-i-center {
  align-items: center;
}

.a-i-stretch {
  align-items: stretch;
}

.j-c-center {
  justify-content: center;
}

.j-c-end {
  justify-content: flex-end;
}

.j-c-spAround {
  justify-content: space-around;
}

.j-c-spEvenly {
  justify-content: space-evenly;
}

.j-c-spBetween {
  justify-content: space-between;
}

.j-c-stretch {
  justify-content: stretch;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 2rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-y-1 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.btn {
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.btn:disabled {
  opacity: 0.5;
}

.btn-icon {
  background: transparent;
  border: none;
}

.float-icon {
  position: fixed;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 2rem;
}

.m-25 {
  margin: 0.25rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.m-y-1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.m-y-25 {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.m-y-2 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.m-auto {
  margin: auto;
}

.d-block {
  display: block;
}

.fw-1 {
  font-weight: 500;
}

.fs-1 {
  font-size: 0.75rem;
}

.fs-2 {
  font-size: 1rem;
}

.fs-3 {
  font-size: 1.5rem;
}

.fs-4 {
  font-size: 2rem;
}

.fs-5 {
  font-size: 3rem;
}

.w-100 {
  width: 100%;
}

.bg-white {
  background: white;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  opacity: 0.8;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.2rem;
}

.text-center {
  text-align: center;
}

.b-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05) , 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

.c-primary {
  color: white;
}

.c-secondary {
  color: gray;
}

.c-tertiary {
  color: #9A03FC;
}

.unstyled-list {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  align-self: center;
}

.link-shadow {
  margin: 5px;
  padding: 20px 5px;
  letter-spacing: 3px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #9A03FC;
  transition: 0.3s;
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1624px) {
  body {
    font-size: 1.4rem;
  }
}